/* form.signup,
form.login {
  margin-top: 50px;
} */

body {
    background-image: url("Vegas.jpg")
}

.box{
    border: black 1px solid;
    background-color: white;
    margin-right: 100px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}